@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}


@charset "UTF-8";
@font-face {
  font-family:  'Roboto', sans-serif;
  font-weight: 300;
  font-style: normal; }
html {
  font-size: 1em;
  line-height: 1.4;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  background: url(../img/gallery-bg.jpg) no-repeat center bottom fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*
=======================================================================
   Login Page
========================================================================== */
.login-form {
  margin: 100px auto;
  background: none;
  padding: 30px 0;
  position: relative;
  -webkit-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.125);
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.125);
  height: 400px;
}
.login-form .group > label {
  padding-left: 15px;
  padding-top: 5px;
  color: #FF9933 ;
  font-size: 16px;
  display: block;
}
.login-form .group > label.empty {
  display: block;
  height: 1px;
  padding: 0;
  margin: 0;
}
.login-form .group > div {
  padding: 0 15px;
}
.login-form .group > div .error-message {
  font-size: 12px;
  color: red;
  margin-top: 5px;
}
.login-form .group.active {
  background: #FF5F49;
  border-left-color: #40C2FF;
  -webkit-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.03);
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.03);
}
.login-form input[type=submit] {
  border: none;
  height: 34px;
  background: #FF9933;
  color: white;
  font-family: 'Roboto', sans-serif;
  padding: 5px 20px;
  text-transform: uppercase;
  text-align: center
  font-weight: 500;
  border-radius: 21px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: background ease-in-out .15s;
  transition: background ease-in-out .15s;
  cursor:pointer;
}
.login-form input[type=submit]:hover {
  background: #FFBF00 ;
}
.login-form .submit{
 padding-top: 25px;
}
.login-form {
  width: 320px;
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #FF9933;
  background-color:  rgb(229, 225, 211);
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 21px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  font-family: 'Roboto', sans-serif;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

/*
=======================================================================
   Helper classes
========================================================================== */
label.err {
    color: red !important;
    display: block;
    margin: 0;
    width: auto;
}
em {
    display: block;
    margin: 5px 0 0px 180px;
    font-style: inherit;
}
.welcome{
	line-height: 50px;
	padding-left:30px;
	color: #555555;
}
/*
=======================================================================
   Registration Page
========================================================================== */
.registration-form {
  margin: 100px auto;
  background: none;
  padding: 30px 0;
  position: relative;
  -webkit-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.125);
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.125);
  height: 400px;
}
.h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: #FF9933 ;
  padding: 15px 15px 15px 15px;
  text-transform: uppercase;
  text-align: center;
}
.registration-form .group > label {
  padding-left: 15px;
  padding-top: 5px;
  color: #FF9933 ;
  font-size: 16px;
  display: block;
}
.registration-form .group > label.empty {
  display: block;
  height: 1px;
  padding: 0;
  margin: 0;
}
.registration-form .group > div {
  padding: 0 15px;
}
.registration-form .group > div .error-message {
  font-size: 12px;
  color: red;
  margin-top: 5px;
}
.registration-form .group.active {
  background: #FF5F49;
  border-left-color: #40C2FF;
  -webkit-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.03);
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.03);
}
.registration-form input[type=submit] {
  border: none;
  height: 34px;
  background: #FF9933;
  color: white;
  font-family: 'Roboto', sans-serif;
  padding: 5px 20px;
  text-transform: uppercase;
  text-align: center
  font-weight: 500;
  border-radius: 21px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: background ease-in-out .15s;
  transition: background ease-in-out .15s;
  cursor:pointer;
}
.registration-form input[type=submit]:hover {
  background: #FFBF00 ;
}
.registration-form .submit{
 padding-top: 25px;
}
.registration-form {
  width: 320px;
}
.registration-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #FF9933;
  background-color:  rgb(229, 225, 211);
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 21px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  font-family: 'Roboto', sans-serif;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

/*
=======================================================================
   Navigation Bar
========================================================================== */
.navbar {
  padding-left: 40px;
  padding-right: 40px;
  background: black ;
  font-size: 18px;
  border-top-color: black;
  border-bottom-color: #FF9933;
  border-left-color: black;
  border-right-color: black;
  }
.navbar-logo{
  height: 54px;
  width: 90px;
}
.navbar-default .navbar-brand {
  padding-top: 12px;
  padding-bottom: 40px;
  font-size: 38px;
  color: #1e94cc; }
.navbar-default .navbar-nav > li > a{
  text-align: center;
  color: #FF9933; }
.navbar-default .navbar-nav > li > a:hover { 
  color: white;
}
.navbar-form{
  align: right;
  padding: 0px;
  border-top: none;
  border-bottom: none;
}

  /*
}
=======================================================================
   Search Placeholder - lines around when minimised -------still to format
========================================================================== */

=======================================================================
   Gallery Page
========================================================================== */

.gallery {
    display: inline-block;
    position: inherit;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #cbc;
    background-image: url("../img/gallery-bg.jpg");
    background-size: 100%;
    border: solid #FF9933;
    border-radius: 12px;
  
}
.gallery img {
    margin: 5px;
  	width: 200px;
  	height: 150px; 	
}
.gallery h2 {
    font-size: 2em;
    height: 60px;
    color: #FF9933;
    text-align: center;
    column-span:  all;
}
.round-clip {
    border: 2px solid #FF9933;
    border-top-left-radius: 15em 1em;
    border-bottom-right-radius: 15em 1em;
  	-webkit-clip-path: circle(38% at 50% 50%);
  	   -moz-clip-path: circle(38% at 50% 50%);
  	     -o-clip-path: circle(38% at 50% 50%);
  	        clip-path: circle(38% at 50% 50%);
    -webkit-transition-duration: 1s;
       -moz-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
}
.round-clip:hover {   
    -webkit-clip-path: circle(70% at 50% 50%);
       -moz-clip-path: circle(70% at 50% 50%);
         -o-clip-path: circle(70% at 50% 50%);
            clip-path: circle(70% at 50% 50%);
  	-webkit-transform: scale(1.2);
  	   -moz-transform: scale(1.2);
  	     -o-transform: scale(1.2);
  	        transform: scale(1.2);
}
.corner-crop {
    padding: 0px;
    border: 2px solid #FF9933;
    border-top-left-radius: 15em 1em;
    border-bottom-right-radius: 15em 1em;
    -webkit-transition-duration: 1s;
       -moz-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;    
}
.corner-crop:hover {
    -webkit-transform: scale(1.2);
       -moz-transform: scale(1.2);
         -o-transform: scale(1.2);
            transform: scale(1.2);
    z-index: 1; position:relative;
}

/*=========================================================
    UPLOAD PICTURE PAGE
==========================================================*/

#uploadPictureForm {
  width: 320px;
}
form input[type=submit] {
  border: none;
  height: 34px;
  background: #FF9933;
  color: white;
  font-family: 'Roboto', sans-serif;
  padding: 5px 20px;
  text-transform: uppercase;
  text-align: center
  font-weight: 500;
  border-radius: 21px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: background ease-in-out .15s;
  transition: background ease-in-out .15s;
  cursor:pointer;
}
form input[type=reset] {
  border: none;
  height: 34px;
  background: #FF9933;
  color: white;
  font-family: 'Roboto', sans-serif;
  padding: 5px 20px;
  text-transform: uppercase;
  text-align: center
  font-weight: 500;
  border-radius: 21px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: background ease-in-out .15s;
  transition: background ease-in-out .15s;
  cursor:pointer;
}
form label {
  padding-left: 15px;
  padding-top: 5px;
  color: #FF9933 ;
  font-size: 16px;
  display: block;
}

/*
=======================================================================
   User Profile Page
========================================================================== */
   
.card {
    padding: 30px;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
}
.card.hovercard .card-background {
    height: 130px;
}
.card-background img {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    margin-left: -100px;
    margin-top: -200px;
    min-width: 130%;
}
.card.hovercard .useravatar {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
}
.card.hovercard .useravatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}
.card.hovercard .card-info {
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
}
.card.hovercard .card-info .card-title {
    padding:0 5px;
    font-size: 18px;
    line-height: 1;
    color: #fff; 
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.card.hovercard .card-info {
    overflow: hidden;
    font-size: 12px;
    line-height: 24px;
    color: #737373;
    text-overflow: ellipsis;
}
.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.btn-pref .btn {
    -webkit-border-radius:0 !important;
}

.btn {
    -webkit-border-radius:0 !important; 
    background-color: black;
    color: #FF9933;
}

.tab-content{
   color: #FF9933;
}
/*
=======================================================================
   IMAGE STYLES - USER COMMENTS
========================================================================== */
#spacer {
  height: 50px;
}
h2 {
    font-size: 2em;
    height: 60px;
    color: #FF9933;
    text-align: center;
    column-span:  all;
}
.picture-display img.img-rounded {
  min-width: 50%;
  min-height: 50%;
  max-width: 90%;
  max-height: 90%;
}

.comment-header {
  font-style: oblique;  
}
.comment-username {
  font-weight: bold;
  color: white;
}
.comment-text {
  text-indent: 10px;
  font-size: larger;
  color: white;
}
.comment-section {
  height: 80%;
  overflow-y: auto;
  color: #FF9933;
}

